<a href="/" translate="attributesOnly" tl:title="nav_goHome"><img src="/logo.svg" translate="attributesOnly" tl:alt="logoAlt"></a>
<a href="/os" aui-display="desktop" aui-selected translate>product_os</a>
<a href="/os/get" aui-display="desktop" translate>download</a>
<a href="/developer" aui-display="desktop" translate>page_developer</a>
<span aui-mode="grow"></span>
<a href="javascript:void(0);" translate="attributesOnly" tl:title="nav_language" tl:aria-label="nav_language" class="l10n_openMenu">
    <img src="https://opensource.liveg.tech/Adapt-UI/icons/language.svg" alt="" aui-icon="dark embedded">
</a>